<div class="row">
  <div class="col-sm-12">
        <h1 class="main-text">{{title}}</h1>
        <main>
            <h2>User Information</h2>
            <dl>
                <dt>Username</dt>
                <dd>{{user.username}}</dd>
                <dt>First Name</dt>
                <dd>{{user.firstName}}</dd>
                <dt>Last Name</dt>
                <dd>{{user.lastName}}</dd>
                <dt>Profession</dt>
                <dd>{{user.profession}}</dd>
                <dt>Bio</dt>
                <dd>{{user.bio}}</dd>
            </dl>
            <a href="/logout">Logout</a>
        </main>
  </div>
</div>